/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ================================================
  menu
  ============================================== */
.pls{
  margin-top:350px;
  color:black;
  font-size:50px;
}

@font-face{
  src:url('../font/Scorched.otf');
  font-family:'scorched';
}

body{
  background:rgba(240,240,240);
  min-height:100%;
}

/* fixed header */
header{
  position:fixed;
  top:0;
  background:white;
  width:100%;
  height:110px;
  z-index:10;
}

/* in order to add our third color with little touch */
.colorTouch{
  color:#ED0000;
}

h1{
  color:black;
  font-family:'scorched';
  font-size:40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* navbar links */
.menu, .disabled{
  color:rgba(0,0,0,0.7);
}
.menu{
  font-size:18px;
  transition:all 0.3s;
}
.disabled{
  font-size:17px;
  opacity:0.3;
}
.disabled:hover{
  text-decoration:none;
  color:black;
  cursor: default;
}
.menu:hover{
  text-decoration: none;
  color:#ED0000 !important;
}


/* breadcrumb and stuff */
.breadcrumb{
  background:rgba(240,240,240);
  border-bottom:1px solid rgba(0,0,0,0.1);
  border-radius:0;
}
.breadcrumb a{
  color:#ED0000;
  transition:all 0.3s;
}
.breadcrumb a:hover{
  text-decoration: none;
  opacity:0.5;
}
.breadMargin{
  margin-top:60px;
}

/* main productsList in the home page */
.productsList a{
  color:black;
}
.productsList a:hover{
  text-decoration: none;
}

/* each product of our list */
.product{
  border:1px solid transparent;
  transition: all 0.3s;
}
.product:hover{
  border-color:#ED0000;
}


/* description page */
.basketImage img{
  width:450px;
}
.description{
  font-size:25px;
  color:rgba(0,0,0,0.7);
}
.aboutDescription{
  font-size:18px;
  color:rgba(0,0,0,0.5);
}

/* little black squares */
.firstColor, .secondColor, .thirdColor, .shoeSize{
  width:55px;
  height:55px;
  border:2px solid rgba(0,0,0,0.7);
  margin-right:20px;
}

/* showing the user he can click to "select" the shoe size */
.shoeSize{
  cursor:pointer;
}
.activeTouch{
  border-color:#ED0000;
}

/* icon style */
i{
  color:black;
  transition:all 0.3s;
  cursor:pointer;
}
i:hover{
  color:#ED0000;
}


footer{
  position: relative;
  bottom:0;
}

/* using our third color on our form */
.form-control:focus {
  border-color: #ED0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* special button style */
.colorButton{
  background:#ED0000;
  color:white;
  opacity:0.7;
  transition:0.3s all;
}
.colorButton:hover{
  opacity:1;
}

/* used for pages with few content */
.onepage{
  min-height:100vh;
}

/* user message sent with contact page */
.messageUser{
  background:white;
  border-radius:10px;
  width:25%;
  margin:20px;
  padding:10px;
}

/* for our checkbox and labels to get aligned in admin page*/
.shoeSizeList input{
  vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
